.comp-switch {
  $height: 1.5em;
  $width: $height * 2;
  $knob-margin: 0.125em;
  $knob-size: $height - $knob-margin * 2;
  $transition-duration: 450ms;
  $timing-function: ease-in-out;
  $_1px: 1em / 16;

  $color-track: #bfbfbf;
  $color-track-on: #4091ff;
  $color-knob: #fff;
  $opacity-disabled: 0.65;

  $this: &;

  &__input,
  &__area {
    display: block;
  }

  &__inner,
  &__input,
  &__area,
  &__track,
  &__track-on,
  &__track-on__bg,
  &__knob {
    position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    border-radius: 99999px;
    transition-duration: $transition-duration;
    transition-timing-function: ease-in-out;
    transition-property: transform, opacity, background-color;
    // animation-duration: $transition-duration;
    // animation-timing-function: ease-in-out;
    // animation-fill-mode: both;
  }

  &__inner {
    position: relative;
    height: $height;
    width: $width;
  }

  &__input {
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &__track {
    background-color: $color-track;
    overflow: hidden;
  }

  &__knob {
    background-color: $color-knob;
  }

  &__knob,
  &__track-on {
    margin: $knob-margin;
    width: $knob-size;
    height: $knob-size;
    transform: translateX(0) translateZ(0);
    will-change: transform;
    box-shadow: 0 1px 4px hsl(0deg 0% 20% / 50%);
  }

  &__track-on {
    position: relative;

    &__bg {
      position: unset;
      background-color: $color-track-on;
      transform: scale(0.5) translateZ(0);
    }
  }

  &__input:checked ~ &__area {
    #{$this}__knob,
    #{$this}__track-on {
      transform: translateX(calc(100% + 0.125em * 2)) translateZ(0);
    }

    #{$this}__track-on__bg {
      transform: scale(3.75 * 1.5) translateZ(0);
      // transition-duration: $transition-duration;
      transition-timing-function: ease-out;
      transition-delay: $transition-duration * 2 / 5;
    }
  }

  &__input:disabled ~ &__area {
    opacity: $opacity-disabled;
    #{$this}__knob {
      background-color: darken($color-knob, 10%);
    }

    #{$this}__track-on__bg {
      background-color: lighten(desaturate($color-track-on, 10%), 5%);
    }
  }
}
